<div class="container__small-card">
  <div class="container__small-card-contend">
    <div class="small-card__photo">
      <img
        src="https://4.bp.blogspot.com/--EEvVhXMaCI/VMtQBhJhVoI/AAAAAAAAAJs/zXC9vDEur5Y/s1600/jiraya.png"
        alt="photo"
      />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="https://www.linkedin.com/in/jailsonroth/"
          >como resolver dores na coluna</a
        >
      </h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
